@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&family=Roboto+Mono&family=Ubuntu+Mono&display=swap');
@import './Fonts.css';
@import './Trans.css';
@import './Blocks.css';
@import './Detailed.css';
@import './Explorerhome.css';

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background: #181919;
  scroll-behavior: smooth;
  background-size: 150vh 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../img/wave.png');
}

#display {
  top: 0;
  z-index: -3;
  position: fixed;
}

.error_pg {
  flex: 1;
  width: 100%;
  color: #fff;
  display: flex;
  font-family: worksans;
  align-items: center;
  flex-direction: column;
}
.error_pg_inn {
  width: 80%;
  height: 80vh;
  display: flex;
  margin-top: 5vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.error_pg_inn h1 {
  font-size: 7rem;
  letter-spacing: 0.5rem;
  font-family: worksans2;
  padding: 0;
  margin: 0;
}
.error_pg_inn p {
  font-size: 1rem;
  margin-top: 10px;
  font-family: worksans2;
}
.err_links {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.error_pg_inn a {
  cursor: pointer;
  color: #fff;
  font-size: 0.9rem;
  background: #2b0fff;
  padding: 10px 20px;
  border-radius: 20px;
  margin: 0px 20px 0px;
  font-family: worksans2;
  white-space: nowrap;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 7px;
  background: #242424;
}

::-webkit-scrollbar-thumb {
  width: 7px;
  background: #555;
  border-radius: 6px;
}

.container {
  width: 100vw;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background: #181919;
  background: transparent;
}
ul,
li,
p {
  padding: 0;
  margin: 0;
  list-style: none;
}
.navbar {
  width: 100%;
  padding: 1.1rem 4rem 1.1rem 2rem;
  background: #292929;
  display: flex;
  color: #b6b6b6;
  color: #faf7ff;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: worksans;
  font-family: worksans;
  position: relative;
}

.navbar_small {
  left: 0;
  top: 4rem;
  width: 100%;
  display: none;
  position: absolute;
  background: #292929;
  border-top: 1px solid #444;
}

.navbar_small .navlinks {
  padding: 1rem 1rem;
  justify-content: space-between;
  -webkit-tap-highlight-color: transparent;
}
.navbar_small .navlinks a {
  margin: 0;
}
.no_small_nav {
  display: none;
}
.logo {
  font-size: 1.5rem;
  font-family: worksans;
  font-family: lato1;
  font-weight: bold;
}
.logo:before {
  content: '';
  display: inline-block;
  width: 2.5rem;
  height: 2rem;
  background: url('/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: bottom;
}


.navbar .nav_selected {
  color: #fff;
  border-radius: 4px;
  font-family: worksans;
  background: #2b0fff;
  padding: 5px 12px;
  align-items: center;
  justify-content: center;
}

.rgtSect {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navlinks {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navlinks a {
  font-size: 0.92rem;
  margin: 0 1rem;
  text-transform: capitalize;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.menu_butt {
  display: none;
  height: 1.8rem;
  align-items: center;
  cursor: pointer;
  padding: 0.4rem 0rem;
  justify-content: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.mbutt {
  height: 10px;
  width: 1.5rem;
  position: relative;
  -webkit-tap-highlight-color: transparent;
}
.mbutt::before {
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #dbdbdb;
  position: absolute;
}
.mbutt::after {
  left: 0;
  bottom: 0;
  content: '';
  width: 100%;
  height: 1.5px;
  background: #dbdbdb;
  position: absolute;
}

.main {
  flex: 1;
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;

  /* background-size: cover;
  background-image: url('../public/img/wave.png'); */
}
/* Homepage */
.homepg {
  flex: 1;
  width: 100%;
  color: #ddd;
  display: flex;
  font-family: worksans;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.homepg .page_title {
  font-size: 3rem;
}
.homepg a:first-child {
  color: #2b0fff;
}

.explorer {
  width: 100%;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.explorer_inner {
  width: 60%;
  margin-bottom: 3rem;
}
.explorer_header {
  color: #ddd;
  width: 100%;
  display: flex;
  font-size: 2rem;
  font-family: worksans;
  margin-bottom: 2.5rem;
  flex-direction: column;
}
.explorer_filter {
  width: 100%;
  margin-bottom: 1.6rem;
}
.explorer_options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  -webkit-tap-highlight-color: transparent;
}
.explorer_options a {
  color: #bbb;
  font-size: 1rem;
  cursor: pointer;
  padding: 7px 5px 5px 5px;
  font-family: worksans;
  align-items: center;
  letter-spacing: 0.02rem;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;
}
.explorer_search {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 45px;
  display: flex;
  background: #fff;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.explorer_search input {
  flex: 1;
  margin: 0;
  padding: 0;
  height: 100%;
  border: none;
  outline: none;
  color: #000;
  font-size: 0.95rem;
  padding-left: 10px;
  font-family: laser2;
  background: inherit;
  letter-spacing: 0.05rem;
}

.explorer_search input::placeholder {
  font-size: 0.85rem;
  font-family: worksans;
  letter-spacing: -0.03rem;
}

.search_button {
  border: 0;
  padding: 0 3rem;
  height: 100%;
  display: flex;
  color: #fff;
  cursor: pointer;
  font-family: worksans;
  align-items: center;
  background: #242424;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;
}
.search_button svg {
  color: #ccc;
  margin-left: 6px;
  margin-bottom: -2.5px;
  font-size: 0.75rem;
}
/* Footer */

.footer {
  width: 90%;
  font-family: worksans;
  display: flex;
  padding-top: 4rem;
  padding-bottom: 4rem;
  align-items: flex-end;
  box-sizing: border-box;
  flex-direction: row;
  border-top: 0.5px dashed #444;
  /* background-color: #191919; */
}
.ft_sect1 {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ft_1 {
  height: 201.08px;
  width: auto;
  display: flex;
  flex-direction: column;
}
.ft_2 {
  height: 201.08px;
  width: auto;
  display: flex;
  flex-direction: column;
}
.ft_det {
  margin-bottom: 30px;
}
.ft_1 .ft_det p {
  white-space: nowrap;
}
.ft_det p:first-child {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  letter-spacing: -0.01rem;
}
.ft_det p:nth-child(2) {
  color: #ddd;
  font-size: 0.9rem;
  line-height: 1.3rem;
  letter-spacing: -0.02rem;
}
.mo_link {
  flex: 1;
  color: #2b0fff;
  font-size: 0.9rem;
  font-family: worksans2;
}
.ft_link {
  flex: 1;
  width: 100%;
  display: flex;
  color: #ddd;
  font-size: 0.9rem;
  letter-spacing: -0.02rem;
  flex-direction: column;
}
.ft_2 .ft_det {
  margin-bottom: 0px;
}
.ft_link a {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-right: 20px;
  line-height: 1.7rem;
  margin-bottom: 0.5rem;
  box-sizing: border-box;
}
.ft_link a i {
  margin-right: 10px;
  padding: 5px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px dashed #2b0fff;
}
.ft_link a p {
  padding-bottom: 0;
}

.rights {
  display: flex;
}
.rights ul {
  display: flex;
}
.rights li {
  color: #ddd;
  margin-right: 40px;
  font-size: 0.75rem;
}

.ft_3 {
  width: 60%;
  height: 201.08px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.ft_clock_cont {
  margin-left: 9rem;
  display: flex;
  flex-direction: column;
}
.ft_clock_cont .ft_date {
  color: #ccc;
  padding-left: 1rem;
  margin-top: 20px;
  font-size: 0.8rem;
}
.ft_clock {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  border: 1px solid #444;
}
.ft_clock li {
  padding: 1.5rem;
  display: flex;
  color: #ddd;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.ft_clock li:first-child {
  border-right: 1px solid #444;
}
.ft_clock li:nth-child(2) {
  color: #999;
  border-right: 1px solid #444;
}
.backUp {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 1px solid #444;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #2b0fff;
  cursor: pointer;
}

.backUp .backUp_inn {
  width: 80%;
  height: 80%;
  border-radius: 100%;
  border: 1px dashed #999;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #2b0fff;
}

/* ***************** */

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.ft_r3 {
  display: flex;
  font-family: worksans;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.ft_r3 p {
  font-size: 0.72rem;
  letter-spacing: -0.015em;
}

.ft_r3 ul {
  display: flex;
  font-size: 0.72rem;
  flex-direction: row;
  letter-spacing: -0.015em;
}

.ft_r3 ul li:first-child {
  margin-right: 1rem;
}

@media (max-width: 500px) {
  .ft_r1_2 .ft_row1_firstLine {
    display: none;
  }
  .ft_row1_secondLine i {
    margin: 0.5rem 0.7rem 0.5rem 1.9rem;
    font-size: 1.2rem;
  }
  .ft_r1_1 .ft_row1_secondLine {
    margin-top: 1rem;
    line-height: 1.3rem;
  }
  .explorer_inner {
    width: 89% !important;
  }
  .ft_r1_2 .ft_row1_secondLine p {
    display: flex;
    flex-direction: column;
  }
  .search_button {
    padding: 0 1rem;
    height: 100%;
    display: flex;
    color: #faf7ff;
    font-family: worksans;
    align-items: center;
    background: #292929;
    justify-content: center;
  }
  .search_button i {
    display: inline;
  }
  .navbar {
    padding: 1.1rem 1.5rem 1.1rem 1rem;
  }
}

@media (max-width: 930px) {
  .explorer_inner {
    width: 72%;
  }
}
@media (max-width: 630px) {
  .explorer_inner {
    width: 84%;
  }
}
@media (max-width: 564px) {
  .explorer_inner {
    width: 94%;
  }
}
@media (max-width: 760px) {
  .rgtSect .navlinks {
    display: none;
  }
  .rgtSect .menu_butt {
    display: flex;
  }
  .navbar_small {
    display: initial;
  }
  .no_small_nav {
    display: none;
  }
}
@media (max-width: 500px) {
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    width: 3px;
    background: #444;
    border-radius: 6px;
  }
  .ft_det p:first-child {
    color: #ddd;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    letter-spacing: -0.01rem;
  }
}
@media (max-width: 1000px) {
  .ft_sect1 {
    width: 50%;
  }
  .ft_3 {
    width: 50%;
  }
  .ft_clock_cont {
    margin-left: 4rem;
  }
  .ft_clock li {
    padding: 1rem;
  }
  .backUp {
    width: 5rem;
    height: 5rem;
  }
}
@media (max-width: 340px) {
  .ft_clock li {
    padding: 0.5rem !important;
  }
  .ft_det p {
    font-size: 0.95rem !important;
  }
  .ft_det p:nth-child(2) {
    font-size: 0.85rem !important;
  }
  .ft_link a {
    font-size: 0.85rem !important;
    margin-top: 5px !important;
  }
}
@media (max-width: 850px) {
  .footer {
    width: 90%;
    font-family: worksans;
    display: flex;
    padding-top: 1rem;
    padding-bottom: 4rem;
    align-items: flex-start;
    box-sizing: border-box;
    flex-direction: column-reverse;
  }
  .ft_sect1 {
    width: 100%;
  }
  .ft_link {
    margin-top: 10px;
  }
  .ft_link a {
    font-size: 1rem;
    margin-top: 10px;
    margin-right: 0;
    padding-right: 0;
    flex-direction: row-reverse;
    justify-content: flex-start;
  }
  .ft_link a i {
    margin-right: 0px;
    margin-left: 10px;

    padding: 6px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #2b0fff;
  }
  .ft_link a:nth-child(2) i {
    padding: 6px 7px;
  }
  .ft_3 {
    width: 100%;
    height: 201.08px;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3rem;
    justify-content: space-between;
  }
  .rights {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .rights li {
    margin-right: 0;
  }
  .ft_clock_cont {
    margin-left: 0;
  }
  .ft_clock li {
    padding: 1rem;
  }
  .backUp {
    width: 4rem;
    height: 4rem;
    color: #2b0fff;
    border: 1px solid #444;
  }
  .backUp .backUp_inn {
    font-size: 1.5rem;
  }
}
