.et {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.et_inn {
  width: 90%;
  height: 100%;
  padding: 50px 0px 10rem;
}
.et_header {
  width: 100%;
  display: flex;
  color: #ddd;
  padding: 10px 0rem 18px;
  margin-bottom: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px dashed #2b0fff;
}
.et_header p {
  font-family: worksans;
  font-size: 1.7rem;
}
.et_h1 span {
  color: #999;
}

.et_list {
  width: 100%;
  color: #ccc;
  display: flex;
  flex-direction: row;
  letter-spacing: 0.04rem;
}
.et_list li {
  height: 2.6rem;
  display: flex;
  min-height: 40px;
  font-size: 14px;
  font-family: worksans;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
}
.et_list_main:hover {
  background: rgba(0, 0, 0, 0.2);
}
.et_list_main .tr_id {
  cursor: pointer;
  color: #422fda;
  font-family: worksans2;
}
.et_list:nth-child(2) li {
  color: #eee;
  font-family: worksans;
  border-bottom: 1px dashed #444;
}
.et_list:nth-child(2) {
  margin-bottom: 10px;
}
.et_list li p {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.et_list li p {
  width: 95%;
  white-space: nowrap;
}
.et_list li:first-child {
  width: 20%;
}
.et_list li:nth-child(2) {
  width: 20%;
}
.et_list li:nth-child(3) {
  width: 20%;
}
.et_list li:nth-child(4) {
  width: 15%;
}
.et_list li:nth-child(5) {
  width: 15%;
}
.et_list li:last-child {
  width: 10%;
}
.et_list li:nth-child(4) p,
.et_list li:nth-child(5) p,
.et_list li:last-child p {
  overflow: hidden;
  text-align: end;
  text-overflow: ellipsis;
}
@media (max-width: 850px) {
  .et_header {
    font-size: 1rem;
    padding: 10px 0rem 18px;
  }
  .et_header p {
    font-size: 1.4rem;
  }
}
@media (max-width: 760px) {
  .et_list li:nth-child(4) {
    width: 20%;
  }
  .et_list li:nth-child(5) {
    width: 20%;
  }
}
@media (max-width: 500px) {
  .et_header {
    font-size: 0.7rem;
    padding: 10px 0rem 18px;
  }
  .et_header p {
    font-size: 1.2rem;
  }
  .et_list li {
    font-size: 0.8rem;
  }
  .et_list li p {
    width: 100%;
    white-space: nowrap;
  }
  .et_list li:nth-child(4) {
    width: 40%;
  }
}
